.img-fede{
    background-repeat: no-repeat;
    background-size: cover;
}

.remi{
    background-image: url(./../img/fede/remi.jpg) !important;
}

.alcime{
    background-image: url(./../img/fede/Alcime.jpg);
}

.alicia{
    background-image: url(../img/fede/Alicia.jpg);
}

.antoine{
    background-image: url(../img/fede/antoine.jpg);
}

.chloe{
    background-image: url(../img/fede/Choleě.jpg);
}

.david{
    background-image: url(../img/fede/David.jpg);
}

.florentin{
    background-image: url(../img/fede/florentin.jpg);
}

.img-14{
    background-image: url(../img/fede/IMG_5913.jpg);
}

.jeanne{
    background-image: url(../img/fede/Jeanne.jpg);
}

.leandra{
    background-image: url(../img/fede/Leìandra.jpg);
}

.marie{
    background-image: url(../img/fede/Marie.jpg);
}

.marina{
    background-image: url(../img/fede/Marina.jpg);
}

.perrine{
    background-image: url(../img/fede/Perrine.jpg);
}