html {
  margin: 0 !important;
  padding: 0 !important;
}

canvas, iframe {
  position: fixed;
  top: 0;
  left: 0;
}

iframe {
  z-index: 2;
  width: 100vw;
  height: 100vh;
}
/*Scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #4acaa8;
  border-radius: 15px;
  transition: all 1s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #00AFF0;
}